@charset "utf-8";

main{padding-top: 100px;}

#header .header_top{display: none;}

#sub .sub_box{position: relative; max-width: 1800px; height: 400px; margin: 0 auto; overflow: hidden;}
#sub .sub_box img{width: 1800px; height: 400px; position: absolute; top:0; left: 50%; margin-left: -900px; transform:scale(1.2); transition:all 3s;}
#sub .sub_box.active img{transform:scale(1); transition:all 5s;}
#sub .sub_box h2{ position: relative; padding-top: 239px; font-size: 50px; font-weight: 500; color: #111; animation: effect 2s;}

@keyframes effect {

    0%{transform: translateY(-30px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}

}

#sub .sub_box .breadcrumb{position: absolute; bottom: 0; height: 53px;}
#sub .sub_box .breadcrumb ol{overflow: hidden;}
#sub .sub_box .breadcrumb ol li.home{width: 12px; height: 14px;}
#sub .sub_box .breadcrumb ol li.home::before{content: ''; display: block; width: 12px; height: 14px; background-size: 960px 240px; background: url(../images/common/sp_new.png)no-repeat -514px -193px;}
#sub .sub_box .breadcrumb ol li{position: relative; float: left; margin: 20px 48px 19px 0; font-size: 14px; font-weight: 300; color: #666;}
#sub .sub_box .breadcrumb ol li::after{content: ''; width: 6px; height: 10px; position: absolute; top: 50%; right:-30px; transform: translateY(-50%); background: url(../images/sub/icon.png)no-repeat;}
#sub .sub_box .breadcrumb ol li:last-child{margin-right: 0; font-weight: 500; color: #333;}
#sub .sub_box .breadcrumb ol li:last-child::after{display: none;}

@media (max-width: 1199px) {

    #sub .sub_box h2{font-size: 46px;}

}

@media (max-width: 1024px) {

    #sub .sub_box h2{padding-top: 255px; font-size: 42px;}

}

@media (max-width: 768px) {

    #sub .sub_box h2{padding-top: 260px; font-size: 38px;}

}

@media (max-width: 576px) {

    #sub .sub_box h2{padding-top: 270px; font-size: 34px;}

}

@media (max-width: 414px) {

    #sub .sub_box h2{padding-top: 280px; font-size: 30px;}

}
#sub .content_wrap .content_box .tit_box{position: relative; height: 192px;}
#sub .content_wrap .content_box .tit_box h2{padding-top: 100px; font-size: 34px; font-weight: 500; color: #111; text-align: center;}
#sub .content_wrap .content_box .tit_box .share_box{position: absolute; top:105px; right:0}
#sub .content_wrap .content_box .tit_box .share_box .box{float: left;}
#sub .content_wrap .content_box .tit_box .share_box .box > a{display: block; background-size: 960px 240px; background: url(../images/common/sp_new.png)no-repeat;}
#sub .content_wrap .content_box .tit_box .share_box .box.share{margin-right: 30px;}
#sub .content_wrap .content_box .tit_box .share_box .box.share > a{width: 20px; height: 24px; background-position: -590px -188px;}
#sub .content_wrap .content_box .tit_box .share_box .box.print > a{width: 26px; height: 25px; background-position: -667px -187px;}

@media (max-width: 1199px) {

    #sub .content_wrap .content_box .tit_box h2{font-size: 32px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content_box .tit_box h2{font-size: 30px;}

    #sub .content_wrap .content_box .tit_box .share_box .box.share{margin-right: 0;}
    #sub .content_wrap .content_box .tit_box .share_box .box.print{display: none;}

}

@media (max-width: 768px) {

    #sub .content_wrap .content_box .tit_box h2{font-size: 28px;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content_box .tit_box h2{font-size: 26px;}

}

@media (max-width: 480px) {

    #sub .content_wrap .content_box .tit_box{height: 158px;}

}

#sub .content_wrap .content{padding: 60px 0 100px;}

/* tab */
#sub .content_wrap .content .tab{display: flex; flex-wrap: wrap; margin-bottom: 95px;}
#sub .content_wrap .content .tab li{flex:1;}
#sub .content_wrap .content .tab li a{display: block; height: 58px; line-height: 58px; text-align: center; border-bottom: 2px solid #ccc; font-size: 18px; font-weight: 500; color: #666;}
#sub .content_wrap .content .tab li.active a{color: #0b6aff; border-bottom-color:#0780ff;}

@media (max-width: 1199px) {

    #sub .content_wrap .content .tab li a{font-size: 16px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content .tab{margin-bottom: 50px;}
    #sub .content_wrap .content .tab li{flex:none; width: 50%;}

}

@media (max-width: 480px) {

    #sub .content_wrap .content .tab li{width: 100%;}

}

/* titLv2 */
#sub .content_wrap .content .titLv2{padding-left: 30px; font-weight: 600; color: #333;}
#sub .content_wrap .content .titLv2:before{width: 20px; height: 20px; background-size: 960px 240px; background: url(../images/common/sp_new.png)no-repeat -30px -190px;}

/* pgraph */
#sub .content_wrap .content .pgraph{margin-bottom: 3.1rem; padding-top: 1.3rem; color: #333; line-height: 1.5;}

/* titLv3 */
#sub .content_wrap .content .titLv3{padding-left: 50px; color: #0b6aff; font-weight: 600; font-size: 18px;}
#sub .content_wrap .content .titLv3::before{top: 10px; left:31px; width: 6px; height: 6px; border-radius: 50%; border: 2px solid #0b6aff; background: 0;}
#sub .content_wrap .content .titLv3 + .listLv{margin-left: 52px;}

/* listLv2 */
p.listLv,
div.listLv,
span.listLv,
.listLv >li,
.listLv >dt,
.listLv >dd{padding-left: 19px; color: #333;}
p.listLv:before,
div.listLv:before,
span.listLv:before,
.listLv >li:before,
.listLv >dt:before{top: 18px;}

/* listLv2 */
.listLv >li > .listLv2{margin-top: 20px;}
p.listLv2,
div.listLv2,
span.listLv2,
.listLv2 >li,
.listLv2 >dt,
.listLv2 >dd{padding-left: 14px; margin-bottom: 12px; color: #333;}
p.listLv2:before,
div.listLv2:before,
span.listLv2:before,
.listLv2 >li:before,
.listLv2 >dt:before{background:#666; }

/* listLv3 */
.listLv2 >li > .listLv3{margin-top: 21px;}
p.listLv3,
div.listLv3,
span.listLv3,
.listLv3 >li,
.listLv3 >dt{padding-left: 14px; margin-bottom: 11px; color: #333;}
p.listLv3:before,
div.listLv3:before,
span.listLv3:before,
.listLv3 >li:before,
.listLv3 >dt:before{width: 5px; height: 2px; background: #666;}

/* listLv4 */
.listLv3 >li > .listLv4{margin-top: 21px;}
p.listLv4,
div.listLv4,
span.listLv4,
.listLv4 >li,
.listLv4 >dt{padding-left: 14px; margin-bottom: 12px; color: #333;}
p.listLv4:before,
div.listLv4:before,
span.listLv4:before,
.listLv4 >li:before,
.listLv4 >dt:before{background: #666;}

/* imptBox */
#sub .content_wrap .content .imptBox{margin: 47px 0 50px; padding: 2.2rem 5.0rem; color: #333; background: 0; border: 2px solid #bdbdbd;}

/* btn_box1 */
#sub .content_wrap .content .btn_box1{display: inline-block;}
#sub .content_wrap .content .btn_box1 a{display: inline-block; height: 44px; line-height: 42px; padding: 0 3.9rem; border: 2px solid #0b6aff; border-radius: 50px; color: #0b6aff; transition: all .3s; }
#sub .content_wrap .content .btn_box1 a.btn_info{border: 0; background: #eee; color: #111; line-height: 44px;}
#sub .content_wrap .content .btn_box1 a.btn_info:hover{background: #eee; color: #111;}
#sub .content_wrap .content .btn_box1 a:hover{background:#0b6aff; color: #fff;}

/* btn_box2 */
#sub .content_wrap .content .btn_box2{display: inline-block;}
#sub .content_wrap .content .btn_box2{color: #666;}
#sub .content_wrap .content .btn_box2 a{height: 40px; line-height: 40px; margin-right: 20px; padding-left: 50px; position: relative; display: inline-block; color: #666;}
#sub .content_wrap .content .btn_box2 a:last-child{margin-right: 0;}
#sub .content_wrap .content .btn_box2 a::before{content: ''; position: absolute; left:0; top:0; width: 40px; height: 40px; background-size: 960px 240px; background: url(../images/common/sp_new.png)no-repeat;}
#sub .content_wrap .content .btn_box2 a.list::before{background-position: -100px -180px;}
#sub .content_wrap .content .btn_box2 a.delete::before{background-position: -180px -180px;}
#sub .content_wrap .content .btn_box2 a.registration::before{background-position: -260px -180px;}
#sub .content_wrap .content .btn_box2 a.correction::before{background-position: -340px -180px;}
#sub .content_wrap .content .btn_box2 a.move::before{background-position: -420px -180px;}

/* table_box */
#sub .content_wrap .content .table_box{margin: 29px 0 0;}
#sub .content_wrap .content .table_box .table{width: 1200px; margin: 0 auto; text-align: center; border-bottom: 1px solid #666;}
#sub .content_wrap .content .table_box .table thead tr th{height: 60px; line-height: 60px; font-weight: 600; color: #333; border-bottom: 1px solid #666; color: #333;}
#sub .content_wrap .content .table_box .table tbody tr td.tit{position: relative; font-weight: 600; color: #333;}
#sub .content_wrap .content .table_box .table tbody tr td.tit::after{content: ''; position: absolute; right:0; top:0; bottom: -1px; width: 1px; background: #666;}
#sub .content_wrap .content .table_box .table tbody tr td{height: 52px; line-height: 24px; border-bottom: 1px solid #ddd; color: #333;}
#sub .content_wrap .content .table_box .table tbody tr:last-child td{border-bottom: 0;}
#sub .content_wrap .content .table_box + .info{max-width: 1200px; margin: 0 auto 30px; display: block; margin-top: 10px; font-size: 14px; color: #999; text-align: right;}

@media (max-width: 1199px) {

    #sub .content_wrap .content .table_box{overflow: auto;}

}

/* procedure */
#sub .content_wrap .content .procedure_box{max-width: 1150px; padding-top: 20px; margin: 0 auto 26px;}
#sub .content_wrap .content .procedure_box li{position: relative; float: left; width: 150px; height: 214px; margin: 0 50px 20px 0;}
#sub .content_wrap .content .procedure_box li::after{content: ''; position: absolute; top: 68px; right:-35px; width: 20px; height: 15px; background: url(../images/sub/icon2.png)no-repeat;}
#sub .content_wrap .content .procedure_box li:last-child::after{display: none;}
#sub .content_wrap .content .procedure_box li:last-child{margin-right: 0;}
#sub .content_wrap .content .procedure_box li:first-child .box{border-color: #666;}
#sub .content_wrap .content .procedure_box li:last-child .box{border-color: #0b6aff;}
#sub .content_wrap .content .procedure_box li .box{height: 150px; line-height: 146px; font-weight: 600; color:#111; border: 4px solid #ddd; border-radius: 20px; text-align: center;}
#sub .content_wrap .content .procedure_box li p{margin-top: 16px; color: #333; line-height: 24px; text-align: center;}

@media (max-width: 768px) {

    #sub .content_wrap .content .procedure_box{margin: 0 -3%;}
    #sub .content_wrap .content .procedure_box li{width: 44%; height: 160px; margin:  0 3% 0;}
    #sub .content_wrap .content .procedure_box li .box{height: 90px; line-height: 86px; border-radius: 15px;}
    #sub .content_wrap .content .procedure_box li:nth-child(2n)::after{display: none;}
    #sub .content_wrap .content .procedure_box li::after{top: 38px; right: -10%;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content .procedure_box{margin: 0;}
    #sub .content_wrap .content .procedure_box li{width: 100%; height: auto; margin:  0 0 62px;}
    #sub .content_wrap .content .procedure_box li .box{ border-radius: 10px;}
    #sub .content_wrap .content .procedure_box li:nth-child(2n)::after{display: block;}
    #sub .content_wrap .content .procedure_box li:last-child::after{display: none;}
    #sub .content_wrap .content .procedure_box li::after{bottom: -37px; left: 50%; transform: translateX(-50%) rotate(90deg); right:auto; top: auto;}

}

/* sub_info */
#sub .content_wrap .content .sub_info{position: relative; padding: 52px 0 52px; margin-bottom: -100px; text-align: center; line-height: 24px;}
#sub .content_wrap .content .sub_info::after{content: ''; width: 1920px; position: absolute; top:0; bottom: 0; left: 50%; margin-left: -960px; background: #ebeae7; z-index: -1;}

/* color */
#sub .content_wrap .content .color{color: #0b6aff; font-weight: 400;}
#sub .content_wrap .content .color2{color: #ff3b30; font-weight: 400;}

/* 오시는 길 */
#sub .content_wrap .content .sub4_2 .map_top{margin-bottom: 37px;}
#sub .content_wrap .content .sub4_2 .map_top .img-box{position: relative;}
#sub .content_wrap .content .sub4_2 .map_top .img-box img{display: block; width: 100%; box-shadow: 10px 10px 40px rgba(0,0,0,.1);}
#sub .content_wrap .content .sub4_2 .map_top .img-box .zoom-view{display: none; position: absolute; bottom: 1%; right: 1%; width: 42px; height: 42px; background: url(../images/common/zoom-view.png) no-repeat; background-size: 42px 42px;}
#sub .content_wrap .content .sub4_2 .listLv{margin:0 0 41px 0;}
#sub .content_wrap .content .sub4_2 .titLv2{margin-bottom: 19px;}
#sub .content_wrap .content .sub4_2 .titLv2:nth-of-type(2){margin-bottom: 10px;}
#sub .content_wrap .content .sub4_2 .box{position: relative;}
#sub .content_wrap .content .sub4_2 .box p{padding: 0 0 0 30px;}
#sub .content_wrap .content .sub4_2 a.info{position: absolute; top:50%; transform: translateY(-50%); right:475px; display: inline-block; padding: 0 37px; height: 44px; line-height: 40px; border: 2px solid #0b6aff; color: #0b6aff; border-radius: 50px;}

@media (max-width: 1400px) {

    #sub .content_wrap .content .sub4_2 a.info{position: static; margin-top: 10px;}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .sub4_2 .map_top .img-box .zoom-view{display: block;}

}

/* 인사말 */
#sub .content_wrap .content .sub5_1 .top{position: relative; height: 596px; }
#sub .content_wrap .content .sub5_1 .top img.bg1{position: absolute; top:0; left: 50%; margin-left: -960px;}
#sub .content_wrap .content .sub5_1 .top span{display: block; position: absolute; bottom: -23px; left:0; right:0; font-size: 149px; font-weight: 600; color: #fff; text-align: center;  font-family: 'Roboto'; opacity: .45; letter-spacing: -2px; white-space: nowrap;}
#sub .content_wrap .content .sub5_1 .box{margin-top: 76px;}
#sub .content_wrap .content .sub5_1 .box .left{float: left; width: 540px; margin-right: 60px;}
#sub .content_wrap .content .sub5_1 .box .left img{display: block; width: 100%;}
#sub .content_wrap .content .sub5_1 .box .right{min-height: 630px; position: relative; float: left; width: calc(100% - 600px);}
#sub .content_wrap .content .sub5_1 .box .right h3{margin-bottom: 27px; font-size: 30px; font-weight: 600; color: #111; line-height: 44px;}
#sub .content_wrap .content .sub5_1 .box .right p{padding-right: 217px; margin-bottom: 53px; line-height: 24px;}
#sub .content_wrap .content .sub5_1 .box .right img{position: absolute; right:0; bottom: 0; display: block; float: right;}

@media (max-width: 1300px) {

    #sub .content_wrap .content .sub5_1 .box .right p{padding-right: 20px;}

}

@media (max-width: 1199px) {

    #sub .content_wrap .content .sub5_1 .box .right p{padding-right: 0;}
    #sub .content_wrap .content .sub5_1 .box .right h3{margin-bottom: 20px; font-size: 26px; line-height: 34px;}
    #sub .content_wrap .content .sub5_1 .box .right img{position: static; margin-right: -16px; transform: scale(0.9);}
    #sub .content_wrap .content .sub5_1 .top span{bottom: -17px; font-size: 120px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content .sub5_1 .box .left{width: 448px; margin-right: 40px;}
    #sub .content_wrap .content .sub5_1 .box .right{width: calc(100% - 508px);}
    #sub .content_wrap .content .sub5_1 .box .right h3{font-size: 24px; line-height: 32px;}
    #sub .content_wrap .content .sub5_1 .box .right img{margin-right: -33px; transform: scale(0.8);}
    #sub .content_wrap .content .sub5_1 .top span{bottom: -14px; font-size: 100px;}

}

@media (max-width: 940px) {

    #sub .content_wrap .content .sub5_1 .box .left{width: 400px;}
    #sub .content_wrap .content .sub5_1 .box .right{width: calc(100% - 440px);}
    #sub .content_wrap .content .sub5_1 .box .right h3{font-size: 22px; line-height: 30px;}
    #sub .content_wrap .content .sub5_1 .box .right img{margin-right: -24px;}
}

@media (max-width: 860px) {

    #sub .content_wrap .content .sub5_1 .top span{bottom: -11px; font-size: 80px;}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .sub5_1 .box .left{margin-bottom: 30px;}
    #sub .content_wrap .content .sub5_1 .box .left img{width: 60%; margin: 0 auto;}
    #sub .content_wrap .content .sub5_1 .box .left,
    #sub .content_wrap .content .sub5_1 .box .right{float: none; width: 100%;}
    #sub .content_wrap .content .sub5_1 .top span{bottom: -8px; font-size: 60px;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content .sub5_1 .box .left img{width: 80%;}
    #sub .content_wrap .content .sub5_1 .top span{bottom: -7px; font-size: 50px;}

}

@media (max-width: 480px) {

    #sub .content_wrap .content .sub5_1 .box{margin-top: 52px;}

}

@media (max-width: 414px) {

    #sub .content_wrap .content .sub5_1 .box .left img{width: 100%;}
    #sub .content_wrap .content .sub5_1 .top span{bottom: -5px; font-size: 40px;}

}

@media (max-width: 360px) {

    #sub .content_wrap .content .sub5_1 .box .right p br{display: none;}

}

@media (max-width: 340px) {

    #sub .content_wrap .content .sub5_1 .top span{bottom: -5px; font-size: 35px;}

}

/* 주차안내 */
#sub .content_wrap .content .sub4_1{}
#sub .content_wrap .content .sub4_1 .map_top{margin-bottom: 37px;}
#sub .content_wrap .content .sub4_1 .map_top .img-box{position: relative;}
#sub .content_wrap .content .sub4_1 .map_top .img-box img{display: block; width: 100%; box-shadow: 10px 10px 40px rgba(0,0,0,.1);}
#sub .content_wrap .content .sub4_1 .map_top .img-box .zoom-view{display: none; position: absolute; bottom: 1%; right: 1%; width: 42px; height: 42px; background: url(../images/common/zoom-view.png) no-repeat; background-size: 42px 42px;}
#sub .content_wrap .content .sub4_1 p{margin-bottom: 41px; padding-left: 30px;}
#sub .content_wrap .content .sub4_1 span{display: block; max-width: 1200px; margin: 6px auto 0; line-height: 24px; }

@media (max-width: 768px) {

    #sub .content_wrap .content .sub4_1 .map_top .img-box .zoom-view{display: block;}

}

/* 미션 및 비전 */
#sub .content_wrap .content .sub5_2{padding: 160px 0 0; }
#sub .content_wrap .content .sub5_2 .box h3{margin-bottom: 46px; font-family: 'Roboto'; font-size: 40px; color: #1e67eb; text-align: center;}
#sub .content_wrap .content .sub5_2 .box p{font-size: 24px; line-height: 32px; color: #333; text-align: center;}
#sub .content_wrap .content .sub5_2 .box1{height: 223px;}
#sub .content_wrap .content .sub5_2 .box1 h3{position: relative;}
#sub .content_wrap .content .sub5_2 .box1 h3::before{content: ''; width: 80px; height: 80px; background: linear-gradient(to bottom, #00a8ff, #1431ff); position: absolute; left: 50%; top:-160px; transform: translateX(-50%);}
#sub .content_wrap .content .sub5_2 .box1 h3{color: #1e67eb;}
#sub .content_wrap .content .sub5_2 .box2{position: relative; height: 620px;}
#sub .content_wrap .content .sub5_2 .box2::after{content: ''; position: absolute; top:0; left: 50%; margin-left: -960px; width: 1920px; height: 100%; background: url(../images/sub/bg.png)no-repeat; z-index: -1;}
#sub .content_wrap .content .sub5_2 .box2 h3{padding-top: 260px; color: #fff;}
#sub .content_wrap .content .sub5_2 .box2 p{color: #fff;}
#sub .content_wrap .content .sub5_2 .box3{min-height: 679px;}
#sub .content_wrap .content .sub5_2 .box3 h3{margin-bottom: 80px; padding-top: 120px}
#sub .content_wrap .content .sub5_2 .box3 ul.list{/*max-width: 1310px; margin: 0 auto;*/ text-align: center; font-size: 0;}
#sub .content_wrap .content .sub5_2 .box3 ul.list li{display: inline-block; margin-right: -29px; position: relative; width: 350px; height: 350px; border: 2px solid #1431ff; border-radius: 50%; text-align: center;}
#sub .content_wrap .content .sub5_2 .box3 ul.list li:last-child{margin-right: 0;}
#sub .content_wrap .content .sub5_2 .box3 ul.list li span{display: block; margin-bottom: 25px; font-size: 36px; font-weight: 600; color:#111;}
#sub .content_wrap .content .sub5_2 .box3 ul.list li p{font-size: 20px; color: #333; line-height: 30px; }
#sub .content_wrap .content .sub5_2 .box3 ul.list li .box{position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);}

@media (max-width: 1199px) {

    #sub .content_wrap .content .sub5_2{padding: 132px 0 0;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li{width: 330px; height: 330px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li span{font-size: 32px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li p{font-size: 18px; line-height: 28px;}

    #sub .content_wrap .content .sub5_2 .box h3{margin-bottom: 40px; font-size: 36px;}
    #sub .content_wrap .content .sub5_2 .box p{font-size: 20px; line-height: 30px;}

    #sub .content_wrap .content .sub5_2 .box1 h3::before{top: -140px; width: 60px; height: 60px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content .sub5_2 .box3 ul.list li{width: 300px; height: 300px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li span{margin-bottom: 20px; font-size: 28px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li p{font-size: 16px; line-height: 26px;}

    #sub .content_wrap .content .sub5_2 .box h3{margin-bottom: 35px; font-size: 34px;}
    #sub .content_wrap .content .sub5_2 .box p{font-size: 18px; line-height: 28px;}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .sub5_2 .box3 h3{padding-top: 70px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li{width: 280px; height: 280px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li span{margin-bottom: 15px; font-size: 24px;}
    #sub .content_wrap .content .sub5_2 .box3 ul.list li p{font-size: 15px; line-height: 25px;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content .sub5_2 .box3 ul.list li{display: block; width: 250px; height: 250px; margin: 0 auto -29px!important;}

}

@media (max-width: 414px) {

    #sub .content_wrap .content .sub5_2 .box3 ul.list li{width: 220px; height: 220px; margin: 0 auto -20px!important;}

}

/* 병원 둘러보기 */
#sub .content_wrap .content .sub5_3 .table_box{margin-top: 80px;}
#sub .content_wrap .content .sub5_3 .table_box .table{border-top: 1px solid #666;}
#sub .content_wrap .content .sub5_3 .table_box .table tbody tr td.tit{width: 400px;}
#sub .content_wrap .content .sub5_3 .table_box .table tbody tr td:nth-child(2){padding-left: 31px; text-align: left;}
#sub .content_wrap .content .sub5_3 .slick_wrap{position: relative;}
#sub .content_wrap .content .sub5_3 .slick_wrap .img_list li img{display:block; max-width: 1200px; width:100%;margin: 0 auto;}
#sub .content_wrap .content .sub5_3 .slick_wrap .control{}
#sub .content_wrap .content .sub5_3 .slick_wrap .control button{position: absolute; top: 46.7%; width: 40px; height: 70px;}
#sub .content_wrap .content .sub5_3 .slick_wrap .control button.prev{left:0; background: url(../images/sub/prev.png)no-repeat;}
#sub .content_wrap .content .sub5_3 .slick_wrap .control button.next{right:0; background: url(../images/sub/next.png)no-repeat;}

#sub .content_wrap .content .sub5_3 .slick_wrap ul.slick-dots{position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%);}
#sub .content_wrap .content .sub5_3 .slick_wrap ul.slick-dots li{float: left; margin:0 5px;}
#sub .content_wrap .content .sub5_3 .slick_wrap ul.slick-dots li.slick-active button{background: #666; border:0;}
#sub .content_wrap .content .sub5_3 .slick_wrap ul.slick-dots li button{width: 10px; height: 10px; text-indent: -9999px; border-radius: 50%; border: 1px solid #6d6d6d; vertical-align: middle;}


@media (max-width: 1199px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{transform: scale(.9);}

}

@media (max-width: 1024px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{transform: scale(.8);}

}

@media (max-width: 768px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{top: 44.7%; transform: scale(.7);}

}

@media (max-width: 576px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{top: 42.7%; transform: scale(.6);}

}

@media (max-width: 414px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{top: 37.7%;}

}

@media (max-width: 360px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{top: 34.7%;}

}

@media (max-width: 320px) {

  #sub .content_wrap .content .sub5_3 .slick_wrap .control button{top: 32.7%;}

}

/* 진료과 */
#sub .content_wrap .content .sub1{}
#sub .content_wrap .content .sub1 .box{position: relative;}
#sub .content_wrap .content .sub1 .box .img_box{float: left;}
#sub .content_wrap .content .sub1 .box .text_box{float: left;}
#sub .content_wrap .content .sub1 .box1{height: 550px;}
#sub .content_wrap .content .sub1 .box1::before{content: ''; top:50px;; position: absolute; left: 50%; margin-left: -960px; width: 1920px; bottom: 0; background:#f7f7f7; z-index: -1;}
#sub .content_wrap .content .sub1 .box1 .img_box{width: 600px; margin-right: 50px;}
#sub .content_wrap .content .sub1 .box1 .img_box img{display: block; width: 100%;}
#sub .content_wrap .content .sub1 .box1 .text_box{padding-top: 185px; width: calc(100% - 650px);}
#sub .content_wrap .content .sub1 .box1 h3{margin-bottom: 25px; font-size: 34px; font-weight: 500; color: #111;}
#sub .content_wrap .content .sub1 .box1 p{font-size: 18px; color: #111; line-height: 28px;}
#sub .content_wrap .content .sub1 .box1 span{position: absolute; bottom: -14px; right:-251px; font-family: 'Roboto'; font-weight: 600; font-size: 100px; color: #dedede; text-transform: uppercase; letter-spacing: -3px;}
#sub .content_wrap .content .sub1 .box2{padding: 99px 0 101px;}
#sub .content_wrap .content .sub1 .box2 .top{position: absolute; top:0; left: 50%; margin-left: -960px; width: 1920px; height: 180px; z-index: -1; background: url(../images/sub/bg2.jpg)no-repeat;}
#sub .content_wrap .content .sub1 .box2 .img_box img{display: block; width: 100%; box-shadow: 0 20px 30px rgba(0,0,0,15%);}
#sub .content_wrap .content .sub1 .box2 .table_box{margin: 24px 0 0; overflow: auto;}
#sub .content_wrap .content .sub1 .box2 .text_box strong{margin-bottom: 76px;display: inline-block; font-size: 50px; color: #fff;}
#sub .content_wrap .content .sub1 .box2 .text_box strong span{float: right; padding: 26px 0 0 12px; font-weight: 600; font-size: 24px; color:#fff; opacity: .5;}
#sub .content_wrap .content .sub1 .box2 .text_box  .list_box ul{float: left; /*width: 46.1%;*/}
#sub .content_wrap .content .sub1 .box2 .text_box  .list_box ul:nth-child(1){margin-right: 7.7%;}
#sub .content_wrap .content .sub1 .box2 .text_box  .list_box ul li{position: relative; padding-left: 15px; margin-bottom: 11px; line-height: 24px; color: #111;}
#sub .content_wrap .content .sub1 .box2 .text_box  .list_box ul li::before{content: ''; position: absolute; top:10px; left:6px; border-radius: 50%; width: 2px; height: 2px; background: #111;}
#sub .content_wrap .content .sub1 .box2 .text_box  .list_box ul li:last-child{margin-bottom: 0;}
#sub .content_wrap .content .sub1 .box:nth-child(2n) .top{background: url(../images/sub/bg1.jpg)no-repeat;}
#sub .content_wrap .content .sub1 .box:nth-child(2n) .img_box{float: right; margin-right: 0;}
#sub .content_wrap .content .sub1 .box:nth-child(2n) .text_box{width: calc(100% - 651px); margin-right: 101px;}
#sub .content_wrap .content .sub1 .table_box .table{width: 749px;}
#sub .content_wrap .content .sub1 .table_box .table tbody tr td:last-child{border-bottom: 0}
#sub .content_wrap .content .sub1 .table_box .table tbody tr:nth-child(1) td:last-child::after{display: none;}
#sub .content_wrap .content .sub1 .table_box .table tbody tr td{position: relative;}
#sub .content_wrap .content .sub1 .table_box .table tbody tr td::after{content: ''; position: absolute; right:0; top:0; bottom: -1px; width: 1px; background: #666;}
#sub .content_wrap .content .sub1 .table_box .table tbody tr td.operation{background:#e4efff;}
#sub .content_wrap .content .sub1 .table_box .table tbody tr td.endoscope{background:#e6e7ff;}
#sub .content_wrap .content .sub1 .box2 .img_box{width: 550px; margin-right: 101px;}
#sub .content_wrap .content .sub1 .box2 .text_box{width: calc(100% - 651px);}

@media (max-width: 1400px) {

    #sub .content_wrap .content .sub1 .box2 .text_box .list_box ul{width: 46.5%;}
    #sub .content_wrap .content .sub1 .box2 .text_box .list_box ul:nth-child(1){margin-right: 7%;}

}

@media (max-width: 1199px) {

    #sub .content_wrap .content .sub1 .box1 span{bottom: -14px; right:0; font-size: 95px;}
    #sub .content_wrap .content .sub1 .box1 h3{font-size: 32px;}
    #sub .content_wrap .content .sub1 .box1 p{font-size: 16px; line-height: 26px;}
    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top: 178px;}
    #sub .content_wrap .content .sub1 .table_box{overflow: visible;}

    #sub .content_wrap .content .sub1 .box2 .img_box{width: 505px; margin-right: 70px;}
    #sub .content_wrap .content .sub1 .box2 .text_box{width: calc(100% - 575px);}
    #sub .content_wrap .content .sub1 .box:nth-child(2n) .text_box{width: calc(100% - 575px); margin-right: 70px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong{margin-bottom: 70px; font-size: 45px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong span{padding: 23px 0 0 10px; font-size: 22px;}

}

@media (max-width: 1024px) {

    #sub .content_wrap .content .sub1 .box1{height: 490px;}
    #sub .content_wrap .content .sub1 .box1 span{bottom: -11px; font-size: 80px;}
    #sub .content_wrap .content .sub1 .box1 h3{font-size: 28px;}
    #sub .content_wrap .content .sub1 .box1 .img_box{width: 499px; margin-right: 36px;}
    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top: 114px; width: calc(100% - 535px);}

    #sub .content_wrap .content .sub1 .box2 .img_box{width: 450px; margin-right: 50px;}
    #sub .content_wrap .content .sub1 .box2 .text_box{width: calc(100% - 500px);}
    #sub .content_wrap .content .sub1 .box:nth-child(2n) .text_box{width: calc(100% - 500px); margin-right: 50px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong{margin-bottom: 70px; font-size: 40px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong span{padding: 20px 0 0 10px; font-size: 20px;}

}

@media (max-width: 940px) {

    #sub .content_wrap .content .sub1 .box2 .img_box{width: 350px; margin-right: 30px;}
    #sub .content_wrap .content .sub1 .box2 .text_box{width: calc(100% - 380px);}
    #sub .content_wrap .content .sub1 .box:nth-child(2n) .text_box{width: calc(100% - 380px); margin-right: 30px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong{font-size: 35px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong span{padding: 15px 0 0 5px; font-size: 18px;}

}

@media (max-width: 860px) {

    #sub .content_wrap .content .sub1 .box1{height: 420px;}
    #sub .content_wrap .content .sub1 .box1 span{bottom: -10px; font-size: 70px;}
    #sub .content_wrap .content .sub1 .box1 h3{font-size: 26px;}
    #sub .content_wrap .content .sub1 .box1 .img_box{width: 414px;}
    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top: 104px; width: calc(100% - 450px);}

}

@media (max-width: 768px) {

    #sub .content_wrap .content .sub1 .box1{height: auto; padding-bottom: 120px; }
    #sub .content_wrap .content .sub1 .box1 .img_box{float: none; margin: 0 auto;}
    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top:52px; float: none; width: 100%;}
    #sub .content_wrap .content .sub1 .box1 h3{margin-bottom: 18px; font-size: 24px;}
    #sub .content_wrap .content .sub1 .box1 span{bottom: -8px; font-size: 60px;}

    #sub .content_wrap .content .sub1 .box2{padding: 54px 0 0;}
    #sub .content_wrap .content .sub1 .box2 .img_box{float: none!important; margin:0 auto 40px!important;}
    #sub .content_wrap .content .sub1 .box2 .text_box{float: none; width: 100%!important;}
    #sub .content_wrap .content .sub1 .box2 .top{height: 156px; top:424px;}
    #sub .content_wrap .content .sub1 .box:nth-child(2n) .text_box{width: calc(100% - 380px); margin-right: 30px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong{font-size: 30px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong span{padding: 14px 0 0 10px; font-size: 16px;}

}

@media (max-width: 660px) {

    #sub .content_wrap .content .sub1 .box1{padding-bottom: 100px;}
    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top: 50px;}
    #sub .content_wrap .content .sub1 .box1 span{bottom: -7px; font-size: 50px;}

}

@media (max-width: 576px) {

    #sub .content_wrap .content .sub1 .box1 .text_box{padding-top:42px;}
    #sub .content_wrap .content .sub1 .box1{padding-bottom: 80px;}
    #sub .content_wrap .content .sub1 .box1 span{bottom: -5px; font-size: 40px;}

}

@media (max-width: 480px) {

    #sub .content_wrap .content .sub1 .box1{padding-bottom: 85px;}
    #sub .content_wrap .content .sub1 .box1 .img_box{width: 100%;}

}

@media (max-width: 414px) {

    #sub .content_wrap .content .sub1 .box2 .img_box{width: 100%!important;}
    #sub .content_wrap .content .sub1 .box2 .top{display: none;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong{position: relative; margin-bottom: 62px;}
    #sub .content_wrap .content .sub1 .box2 .text_box strong::after{content: ''; position: absolute; top:-79px; bottom: -31px; left:50%; margin-left: -960px; width: 1920px; background: linear-gradient(to right, #6c7fb9, #6e8ca8); z-index: -1;}
    #sub .content_wrap .content .sub1 .box2:nth-child(2) .text_box strong::after{background: linear-gradient(to right, #1430ff, #00a8ff);}
    #sub .content_wrap .content .sub1 .box2 .text_box .list_box ul{width: 49%;}
    #sub .content_wrap .content .sub1 .box2 .text_box .list_box ul:nth-child(1){margin-right: 2%;}
    #sub .content_wrap .content .sub1 .box2 .text_box .list_box ul li{font-size: 14px; line-height: 20px;}
    #sub .content_wrap .content .sub1 .box1 span{font-size: 35px;}

}

@media (max-width: 360px) {

    #sub .content_wrap .content .sub1 .box1{padding-bottom: 60px;}
    #sub .content_wrap .content .sub1 .box1 span{font-size: 30px;}

}

/* 기업종합검진 예약안내 */
